[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
  ignore = untracked
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = git://github.com/timcharper/textile.vim.git
  ignore = untracked
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
  ignore = untracked
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
  ignore = untracked
[submodule ".vim/bundle/simplefold"]
	path = .vim/bundle/simplefold
	url = https://github.com/vim-scripts/simplefold.git
  ignore = untracked
[submodule ".vim/bundle/LaTeX-Box"]
	path = .vim/bundle/LaTeX-Box
	url = https://github.com/vim-scripts/LaTeX-Box.git
  ignore = untracked
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim
  ignore = untracked
[submodule ".vim/bundle/vim-shoulda"]
	path = .vim/bundle/vim-shoulda
	url = git://github.com/tsaleh/vim-shoulda.git
  ignore = untracked
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
  ignore = untracked
[submodule ".vim/bundle/vim-yankring"]
	path = .vim/bundle/vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
  ignore = untracked
[submodule ".vim/bundle/vim-vividchalk"]
	path = .vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
  ignore = untracked
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
  ignore = untracked
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
  ignore = untracked
[submodule ".vim/bundle/tslime"]
	path = .vim/bundle/tslime
	url = https://github.com/kikijump/tslime.vim.git
  ignore = untracked
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
  ignore = untracked
[submodule ".vim/bundle/ScrollColors"]
  path = .vim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
  ignore = untracked
[submodule ".vim/bundle/vim_colors"]
	path = .vim/bundle/vim_colors
	url = https://github.com/squil/vim_colors.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
  ignore = untracked
