.vim/.netrwhist
.vim/spell/
tmp/
.vim/vim-tmp/
.vim/plugin/secret.vim
.vim/bundle/
.vim/plugin/ri.vim
.emacs.d/ac-comphist.dat
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/tutorial/
.emacs.d/auto-save-list/
.emacs.d/eshell/
.emacs.d/swank/
.emacs.d/url/
.emacs.d/init.d/my-secrets.el
.emacs.d/.#*.*
.emacs.d/.smex-items
.emacs.d/init.d/emacs-custom.el
.emacs.d/projectile.cache
/.emacs.d/.org-id-locations
/.emacs.d/bookmarks
/.emacs.d/tramp
old-emacs-init-files/
